/* General Styling */
body {
  font-family: "Georgia", serif;
  background-color: hsl(215 75% 85% / 1);
  color: #333;
}

.pancake-layout {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
}

header {
  justify-self: center;
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.org-logo {
  width: 50%;
}

main {
  display: flex;
  flex-direction: column;
}

main .about {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #0c166b;
}

main .links-container {
  padding: 1rem;
}

.pdf-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.pdf-links a {
  border: 1px solid #387ee0;
  border-radius: 0.2rem;
  padding: 1rem;
  text-decoration: none;
  color: #1338b3;
}

footer {
  justify-self: center;
  text-align: center;
}
