/* General Styling */
body {
  font-family: "Georgia", serif;
  background-color: hsl(215 75% 85% / 1);
  color: #333;
}

.pancake-layout {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
}

header {
  justify-self: center;
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.org-logo {
  width: 50%;
}

main {
  display: flex;
  flex-direction: column;
}

main .about {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #0c166b;
}

main .links-container {
  padding: 1rem;
}

.pdf-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.pdf-links a {
  border: 1px solid #387ee0;
  border-radius: 0.2rem;
  padding: 1rem;
  text-decoration: none;
  color: #1338b3;
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 2.5rem;
  color: #5a189a; /* Rich purple */
}

/* Container */
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

/* Card Styling */
.card {
  width: 18rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-decoration: none;
  color: #212529;
  transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Image Styling */
.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}

/* Card Content */
.card-body {
  padding: 1rem;
  text-align: center;
  background-color: #fdfaff; /* Light lavender */
}
.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #5a189a; /* Rich purple */
  margin: 0;
}

/* Card Footer */
.card-footer {
  font-size: 0.9rem;
  color: #555;
  padding: 0.5rem;
  background-color: #f8f9fa;
  border-top: 1px solid #ddd;
  text-align: center;
}

footer {
  background: hsl(var(--gray-9-hsl));
  color: hsl(var(--gray-0-hsl));
}
