/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  /* -webkit-font-smoothing: antialiased; */
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* General Styling */
body {
  font-family: "Georgia", serif;
  background-color: white;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

.pancake-layout {
  min-height: 100vmin;
  display: flex;
  flex-direction: column;
/*   display: grid; */
/*   grid-template-rows: auto 2fr 1fr; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  justify-self: center;
  width: 100%;
  padding: 0.5rem 1rem;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link img {
  width: 100px;
}

main {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

main .about {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #0c166b;
}

main .welcome {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: hsl(107.52deg 50.75% 39.02%);
}

main .links-container {
  padding: 1rem;
}

.pdf-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.pdf-links a {
  border: 1px solid #387ee0;
  border-radius: 0.2rem;
  padding: 0.25rem 0.75rem;
  text-decoration: none;
  color: #1338b3;
  /* color: white; */
  background-color: hsl(215 75% 85% / 1);
}

footer {
/*   align-self: flex-end; */
/*   margin-top: auto; */
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: hsl(107.52deg 50.75% 39.02%);
  color: white;
}
